body {
  margin: 30px;
}

.center {
  text-align: center;
}

.btn-row {
  margin: 10px;
}

.countdown-row {
  margin-top: 80px;
  margin-bottom: 40px;
}

#countdown {
  font-size: 50px;
}

.task-row {
}

#task {
  font-size: 36px;
}

.light-font {
  color: #B0B0B0;
}

/* Edit Screen */

.edit-time-row .pure-input-1 {
  padding: 0.4em 0.3em;
  width: 90%;
}

.settings-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.fa {
  text-decoration: none;
}

#input {
  display: inline-block;
}
