body {
  margin-top: 20px;
}

.center {
  text-align: center;
}

.btn-row {
}

.countdown-row {
  margin-top: 80px;
  margin-bottom: 40px;
}

#countdown {
  font-size: 50px;
}

.task-row {
}

#task {
  font-size: 36px;
}

